
// 一级 DOM 布局样式
#lordless {
  // position: relative;
  height: 100%;
  // @include overflow();
}
.ld-main {
  // margin-bottom: -150px;
  // padding: 80px 0 230px;
  min-height: 100%;
  box-sizing: border-box;
  @include padding('top', 90px, -2);
  @include padding('top', 60px, 1, -2);
  overflow: hidden;
  // @include padding('bottom', 230px, 1);
  &.full {
    padding: 0;
    margin: 0;
  }
  &.no-header {
    // margin-top: -80px;
    @include padding('top', 0, 1);
  }
  &.no-footer {
    // margin-bottom: -230px;
    @include padding('bottom', 0, 1);
  }
}

.ld-error {
  // margin-top: 60px;
  @include margin('top', 60px, 1);
}

.container, .page-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
  &.lg {
    max-width: 1600px;
  }
  &.md {
    max-width: 1000px;
  }
}
.page-container {
  // padding-top: 50px;
  // padding: 0 10px;
  @include padding('top', 50px, 1);
}
.page-guide {
  padding: 50px 30px 30px;
  box-sizing: border-box;
}

@media (max-width: 1140px) {
  // .container {
  //   width: 100%;
  // }
}

@media (max-width: 768px) {
  // .ld-main {
  //   margin-top: 0;
  // }
  .container {
    padding: 0 20px;
  }
}

