
/* 主要样式布局 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $--font-TTNormsMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #555;
  background-color: #f8f8f8;
  line-height: 1.4;
  // overflow: hidden;
  @include viewport-unit(width, 100vw);
}

div {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure, figcaption, ul, li, ol, table, thead, tbody, tr, th, td {
  margin: 0;
  padding: 0;
}
p {
  span {
    font-weight: 500;
  }
}
h1, h2, h3, h4 {
  font-family: $--font-TTNormsBold;
}
h1 {
  @include fontSize(56px, 1.5);
}
h2 {
  @include fontSize(36px, 1.2);
}
h3 {
  @include fontSize(24px, 1.2);
}
strong {
  font-family: $--font-TTNormsBold;
}
a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: inherit;
  stroke: inherit;
}

