
/* 功能性复用样式 */

.lordless-dialog {
  &.no-header {
    .el-dialog__header {
      display: none;
    }
  }
  &.dark {
    @include dialog-theme('dark');
  }
  &.light {
    @include dialog-theme('light');
  }
  &.gray {
    @include dialog-theme('gray');
  }
  &.default {
    @include dialog-theme('default');
  }
}
.dialog-ldb-detail {
  padding: 0;
  top: 20px;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  background-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .5);
  @include margin(-1, 0, 1, -2);
  // .el-dialog__title {
  //   font-size: 30px;
  //   color: inherit;
  // }
  // .el-dialog__headerbtn, .el-dialog__close {
  //   color: inherit;
  // }
  // .el-dialog__headerbtn {
  //   font-size: 35px;
  // }
  .el-dialog__header {
    padding: 0;
  }
  .el-dialog__body {
    padding: 0;
  }
  .dialog-ldb-close {
    position: fixed;
    right: 30px;
    top: 15px;
    color: #ccc;
    z-index: 3002;
    cursor: pointer;
    @include fontSize(30px, 0.85);
  }
  .ldb-detail-main {
    border-radius: 3px;
  }
  .detail-cnt-box {
    .container {
      padding: 0 30px;
    }
  }
}

.authorize-dialog {
  margin-left: 50%;
  transform: translateX(-50%);
}


@media screen and (max-width: 768px) {
  .dialog-ldb-detail {
    top: 0px;
    border-radius: 0;
    .dialog-ldb-close {
      top: 10px;
      right: 10px;
    }
    .ldb-detail-main {
      border-radius: 0px;
    }
  }
}
