
/* 功能性复用样式 */

// lordless-logout-confirm
.lordless-logout-confirm {
  padding-bottom: 35px;
  margin-top: 50%;
  margin-left: 50%;
  max-width: 90%;
  // margin: -25px -25px -30px;
  color: #fff;
  background-image: linear-gradient(135deg, #5961F9, #EE9AE5);
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  transform: translateX(-50%);
  @include TTFontBold();
  .el-message-box__header {
    padding-top: 45px;
    padding-bottom: 5px;
  }
  .el-message-box__title {
    font-size: 24px;
    color: #fff;
    @include TTFontBolder();
  }
  .el-message-box__close {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }
  // .el-message-box__title {
  //   font-size: 20px;
  // }
  .logout-tip-text {
    // margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  .el-message-box__btns {
    padding-top: 20px;
  }
}
.logout-confirm-btn, .logout-cancel-btn {
  font-size: 16px;
  border: none;
  @include TTFontBolder();
}
.logout-confirm-btn {
  padding: 12px 20px;
  background-color: #fff;
  color: $--color-btn-blue;
  &:focus {
    background-color: #fff;
    color: $--color-btn-blue;
  }
}
.logout-cancel-btn {

}

// lordless-dialog
.lordless-dialog {
  padding: 30px 0;
  @include viewport-unit('max-height', 100vh);
  @include overflow();
  &.no-header {
    .el-dialog__header {
      display: none;
    }
  }
  &.white {
    @include dialog-theme('white');
  }
  &.dark {
    @include dialog-theme('dark');
  }
  &.light {
    @include dialog-theme('light');
  }
  &.gray {
    @include dialog-theme('gray');
  }
  &.default {
    @include dialog-theme('default');
  }
  &.transparent {
    top: 50px;
    background-color: transparent !important;
    box-shadow: none;
  }
  &.center {
    top: 50%;
    transform: translate(0, -50%);
    @include grid('transform', translate(-50%, -50%), 1);
    // @include grid('top', 50%, 1);
    // @include grid('transform', translate(-50%, -50%), 1);
  }
  // &.mobile-center {
  //   @include grid('top', 50%, -1);
  //   @include grid('transform', translate(0, -50%), -1);
  // }
}

.message-dialog {
  max-width: 600px;
  // margin-left: 50%;
  // transform: translateX(-50%);
  @include grid('margin-left', 50%, 1);
  @include grid('transform', translateX(-50%), 1);
  .el-dialog__body {
    padding: 0;
  }
}

.lordless-message-box {
  position: relative;
  padding: 70px 50px 30px 50px;
  // margin: -25px -25px -30px;
  width: inherit;
  height: inherit;
  max-width: 600px;
  color: #fff;
  background-image: linear-gradient(135deg, #5961F9, #EE9AE5);
  border-radius: 5px;
  box-sizing: border-box;

  left: 50%;
  transform: translateX(-50%);
  @include grid('padding', 35px 20px 20px 20px, -1);
  @include viewport-unit('width', 100vw, 40px);
}
.lordless-message-close {
  position: absolute;
  top: 15px;
  right: 15px;
  // font-size: 34px;
  cursor: pointer;
  z-index: 9;
  @include fontSize(34px, 1.4);
  [class^="el-icon-"] {
    font-weight: bold;
  }
  &.light {
    color: #fff;
  }
  &.dark {
    color: #555;
  }
}
.lordless-message-btn {
  @include padding-around(12px, 15px, 12px, 15px, 1);
}

.dialog-ldb-detail {
  padding: 0;
  top: 20px;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  background-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .5);
  @include margin(-1, 0, 1, -2);
  // .el-dialog__title {
  //   font-size: 30px;
  //   color: inherit;
  // }
  // .el-dialog__headerbtn, .el-dialog__close {
  //   color: inherit;
  // }
  // .el-dialog__headerbtn {
  //   font-size: 35px;
  // }
  .el-dialog__header {
    padding: 0;
  }
  .el-dialog__body {
    padding: 0;
  }
  .dialog-ldb-close {
    position: fixed;
    // position: absolute;
    right: 30px;
    top: 15px;
    color: #fff;
    z-index: 3002;
    cursor: pointer;
    @include fontSize(30px, 0.85);
  }
  .ldb-detail-main {
    border-radius: 3px;
  }
  .detail-cnt-box {
    .container {
      padding: 0 30px;
    }
  }
}

.initial-box {
  width: initial;
  height: initial;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lordless-symbol-icon {
  padding: 5px;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  line-height: 0;
  background-color: $--color-btn-green;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  font-weight: normal;
  &.lg {
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
  }
  [class^="el-icon-"], [class*=" el-icon-"] {
    font-weight: inherit;
  }
  &.loading {
    background-color: $--color-btn-yellow;
  }
  &.check {
    background-color: $--color-btn-green;
  }
  &.close {
    background-color: $--color-btn-red;
  }
}

/**
 *  no-asset-box  --- begin
 */
.no-asset-box {
  width: 100%;
  color: #777777;
  fill: #bbb;
  @include fontSize(16px, 1.15);
  @include margin('top', 50px, 1, -2);
  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  >svg {
    width: 180px;
    height: 180px;
    @include width(100px, 1, -2);
    @include height(100px, 1, -2);
  }
  >p {
    margin-top: 15px;
    color: #bbb;
    // font-size: 24px;
    @include fontSize(24px, 1.4);
  }
  >div {
    margin-top: 25px;
  }
  .no-asset-btn {
    margin: 0 15px;
    padding: 10px 16px;
    font-size: 16px;
    color: #4E47D3;
    border-radius: 5px;
    @include fontSize(16px, 1.15);
    @include padding('padding', 6px 8px, -1);
  }
}

@media screen and (min-width: 769px) {
  // .no-asset-box {
  //   &.absolute {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
  // }
}

/**
 *  no-asset-box  --- end
 */

.contract-pending-tip {
  position: relative;
  height: 0;
  font-size: 14px;
  >p {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
  }
}

/**
 *  ldb card radial gradient
 */
// .building-popularity-1 {
//   @include radial-gradient-bg(#8BC1FF, #C3DEFC);
// }
.building-popularity-1 {
  @include radial-gradient-bg(#97DBD9, #E7FDE1);
}
.building-popularity-2 {
  @include radial-gradient-bg(#C0C0FF, #F2F1FD);
}
.building-popularity-3 {
  @include radial-gradient-bg(#FFC3AE, #FDF1E1);
}
.building-popularity-4 {
  @include radial-gradient-bg(#FFDA99, #FFE7C7);
}

/**
 *  ldb card radial gradient -- end
 */

/**
 *  vue transtion style -- begin
 */
.ld-hide-fade-enter-active, .ld-hide-fade-leave-active {
  opacity: 1;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-hide-fade-enter, .ld-hide-fade-leave-to {
  opacity: 0;
}

.ld-sign-dialog-fade-enter-active, .ld-sign-dialog-fade-leave-active {
  opacity: 1;
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-sign-dialog-fade-enter, .ld-sign-dialog-fade-leave-to {
  opacity: 0;
}

.ld-hide-in-fade-enter-active {
  opacity: 1;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-hide-in-fade-leave-active {
  opacity: 0;
  transition-duration: 0s;
}
.ld-hide-in-fade-enter, .ld-hide-in-fade-leave-to {
  opacity: 0;
}

.ld-hide-out-fade-enter-active, .ld-hide-out-fade-leave-active {
  opacity: 1;
  transition-duration: 0s;
}
.ld-hide-out-fade-enter, .ld-hide-out-fade-leave-to {
  opacity: 0;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ld-suspension-hide-fade-enter-active, .ld-suspension-hide-fade-leave-active {
  opacity: 1;
  transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-suspension-hide-fade-enter, .ld-suspension-hide-fade-leave-to {
  opacity: 0;
}
.ld-suspension-hide-fade-leave-active, .ld-suspension-hide-fade-leave-to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// lordless pop transition style
.lordless-pop-none-enter-active, .lordless-pop-none-leave-active {
  // will-change: transform;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  // perspective: 1000;
}
.lordless-pop-none-enter {
  opacity: 0;
}
.lordless-pop-none-leave-active {
  opacity: 0;
}

.lordless-pop-out-enter-active,
.lordless-pop-out-leave-active,
.lordless-pop-in-enter-active,
.lordless-pop-in-leave-active {
  will-change: transform;
  transition: all 400ms;
  height: 100%;
  // top: 46px;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
}
.lordless-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.lordless-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.lordless-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.lordless-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

/**
 *  vue transtion style -- end
 */

.lordless-pop-page {
  box-sizing: border-box;
  @include viewport-unit(width, 100vw);
}


/* skeletion -- begin */
.skeletion-split {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $--skeletion-fill;
}

.skeletion-fill {
  fill: $--skeletion-fill;
  background-color: $--skeletion-fill;
}
.skeletion-light {
  fill: $--skeletion-light;
  background-color: $--skeletion-light;
}
.skeletion-dark {
  fill: $--skeletion-dark;
  background-color: $--skeletion-dark;
}
.skeletion-breath {
  animation: skeletionBreath .75s ease-in-out infinite alternate;
}
.skeletion-icon {
  background-color: $--skeletion-dark;
  fill: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

@keyframes skeletionBreath {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

/* skeletion -- end */


@media screen and (max-width: 768px) {
  .dialog-ldb-detail {
    top: 0px;
    border-radius: 0;
    .dialog-ldb-close {
      top: 10px;
      right: 10px;
    }
    .ldb-detail-main {
      border-radius: 0px;
    }
  }
}
