
/* 功能性复用样式 */

.lordless-dialog {
  &.no-header {
    .el-dialog__header {
      display: none;
    }
  }
  &.white {
    @include dialog-theme('white');
  }
  &.dark {
    @include dialog-theme('dark');
  }
  &.light {
    @include dialog-theme('light');
  }
  &.gray {
    @include dialog-theme('gray');
  }
  &.default {
    @include dialog-theme('default');
  }
  &.transparent {
    background-color: transparent !important;
    box-shadow: none;
  }
  &.center {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.message-dialog {
  max-width: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.lordless-message-box {
  margin: -25px -25px -30px;
  width: inherit;
  height: inherit;
  max-width: 600px;
  color: #fff;
  background-image: linear-gradient(135deg, #5961F9, #EE9AE5);
  border-radius: 5px;
  box-sizing: border-box;
  @include padding-around(70px, 50px, 60px, 50px, 1);
}
.lordless-message-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 34px;
  cursor: pointer;
  z-index: 9;
  [class^="el-icon-"] {
    font-weight: bold;
  }
  &.light {
    color: #fff;
  }
}
.lordless-message-btn {
  @include padding-around(12px, 15px, 12px, 15px, 1);
}

.dialog-ldb-detail {
  padding: 0;
  top: 20px;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  background-color: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .5);
  @include margin(-1, 0, 1, -2);
  // .el-dialog__title {
  //   font-size: 30px;
  //   color: inherit;
  // }
  // .el-dialog__headerbtn, .el-dialog__close {
  //   color: inherit;
  // }
  // .el-dialog__headerbtn {
  //   font-size: 35px;
  // }
  .el-dialog__header {
    padding: 0;
  }
  .el-dialog__body {
    padding: 0;
  }
  .dialog-ldb-close {
    position: fixed;
    right: 30px;
    top: 15px;
    color: #fff;
    z-index: 3002;
    cursor: pointer;
    @include fontSize(30px, 0.85);
  }
  .ldb-detail-main {
    border-radius: 3px;
  }
  .detail-cnt-box {
    .container {
      padding: 0 30px;
    }
  }
}

.initial-box {
  width: initial;
  height: initial;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lordless-symbol-check, .lordless-symbol-close {
  padding: 5px;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  line-height: 0;
  background-color: $--color-btn-green;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  font-weight: normal;
  &.lg {
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
  }
  [class^="el-icon-"], [class*=" el-icon-"] {
    font-weight: inherit;
  }
}
.lordless-symbol-check {
  background-color: $--color-btn-green;
}
.lordless-symbol-close {
  background-color: $--color-btn-red;
}

/**
 *  no-asset-box
 */
 .no-asset-box {
  color: #777777;
  fill: #bbb;
  font-size: 16px;
  >svg {
    width: 180px;
    height: 180px;
  }
  >p {
    margin-top: 15px;
    color: #bbb;
    font-size: 24px;
  }
  >div {
    margin-top: 25px;
  }
  .no-asset-btn {
    margin: 0 15px;
    padding: 10px 16px;
    font-size: 16px;
    color: #4E47D3;
    border-radius: 5px;
  }
  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contract-pending-tip {
  position: relative;
  height: 0;
  font-size: 14px;
  >p {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
  }
}

/**
 *  ldb card radial gradient
 */
.building-popularity-1 {
  @include radial-gradient-bg(#8BC1FF, #C3DEFC);
}
.building-popularity-2 {
  @include radial-gradient-bg(#97DBD9, #E7FDE1);
}
.building-popularity-3 {
  @include radial-gradient-bg(#C0C0FF, #F2F1FD);
}
.building-popularity-4 {
  @include radial-gradient-bg(#FFC3AE, #FDF1E1);
}
.building-popularity-5 {
  @include radial-gradient-bg(#FFDA99, #FFE7C7);
}

/**
 *  ldb card radial gradient -- end
 */

/**
 *  vue transtion style -- begin
 */
.ld-hide-fade-enter-active, .ld-hide-fade-leave-active {
  opacity: 1;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-hide-fade-enter, .ld-hide-fade-leave-to {
  opacity: 0;
}

.ld-hide-in-fade-enter-active {
  opacity: 1;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-hide-in-fade-leave-active {
  opacity: 0;
  transition-duration: 0s;
}
.ld-hide-in-fade-enter, .ld-hide-in-fade-leave-to {
  opacity: 0;
}

.ld-hide-out-fade-enter-active, .ld-hide-out-fade-leave-active {
  opacity: 1;
  transition-duration: 0s;
}
.ld-hide-out-fade-enter, .ld-hide-out-fade-leave-to {
  opacity: 0;
  transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ld-suspension-hide-fade-enter-active, .ld-suspension-hide-fade-leave-active {
  opacity: 1;
  transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
}
.ld-suspension-hide-fade-enter, .ld-suspension-hide-fade-leave-to {
  opacity: 0;
}
.ld-suspension-hide-fade-leave-active, .ld-suspension-hide-fade-leave-to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/**
 *  vue transtion style -- end
 */


/* skeletion -- begin */
.skeletion-split {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: $--skeletion-fill;
}

.skeletion-fill {
  fill: $--skeletion-fill;
  background-color: $--skeletion-fill;
}
.skeletion-light {
  fill: $--skeletion-light;
  background-color: $--skeletion-light;
}
.skeletion-dark {
  fill: $--skeletion-dark;
  background-color: $--skeletion-dark;
}
.skeletion-breath {
  animation: skeletionBreath .75s ease-in-out infinite alternate;
}

@keyframes skeletionBreath {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

/* skeletion -- end */


@media screen and (max-width: 768px) {
  .dialog-ldb-detail {
    top: 0px;
    border-radius: 0;
    .dialog-ldb-close {
      top: 10px;
      right: 10px;
    }
    .ldb-detail-main {
      border-radius: 0px;
    }
  }
}
