
/* 布局样式 */

@mixin class-vars ($size: '') {
  .#{$size}d-flex {
    display: flex;
  }
  .#{$size}d-inline-flex {
    display: inline-flex;
  }
  .#{$size}f-align-start {
    align-items: flex-start;
  }
  .#{$size}f-align-center {
    align-items: center;
  }
  .#{$size}f-justify-center {
    justify-content: center;
  }
  .#{$size}f-auto-center {
    align-items: center;
    justify-content: center;
  }
  .#{$size}col-flex {
    flex-direction: column;
  }
  .#{$size}col-reverse-flex {
    flex-direction: column-reverse;
  }
  .#{$size}row-flex {
    flex-direction: row;
  }
  .#{$size}row-reverse-flex {
    flex-direction: row-reverse;
  }
  .#{$size}v-flex {
    flex: 1;
  }
  .#{$size}inline-block {
    display: inline-block;
  }
}

@include class-vars();

@media screen and (max-width: 768px) {
  @include class-vars('sm-');
}

/* 文字布局样式 */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-nowrap {
  white-space: nowrap;
}
.line-height-1 {
  line-height: 1
}
.line-height-0 {
  line-height: 0;
}
.text-style-cap {
  text-transform: capitalize;
}
.text-style-lower {
  text-transform: lowercase;
}
.text-style-upper {
  text-transform: uppercase;
}
.color-green {
  color: $--color-btn-green;
}
.color-red {
  color: $--color-btn-red;
}
.color-yellow {
  color: $--color-btn-yellow;
}
.color-blue {
  color: $--color-btn-blue;
}
