
/* 布局样式 */

@mixin layout-vars ($media: '') {
  .#{$media}hidden {
    display: none;
  }
  .#{$media}d-flex {
    display: flex;
  }
  .#{$media}d-inline-flex {
    display: inline-flex;
  }
  .#{$media}f-align-start {
    align-items: flex-start;
  }
  .#{$media}f-align-center {
    align-items: center;
  }
  .#{$media}f-justify-center {
    justify-content: center;
  }
  .#{$media}f-auto-center {
    align-items: center;
    justify-content: center;
  }
  .#{$media}col-flex {
    flex-direction: column;
  }
  .#{$media}col-reverse-flex {
    flex-direction: column-reverse;
  }
  .#{$media}row-flex {
    flex-direction: row;
  }
  .#{$media}row-reverse-flex {
    flex-direction: row-reverse;
  }
  .#{$media}v-flex {
    flex: 1;
  }
  .#{$media}inline-block {
    display: inline-block;
  }
  .#{$media}block {
    display: block;
  }
}

@include layout-vars();

/* 工具布局样式 */
@mixin tool-vars ($media: '', $size: 2) {

  // margin
  .#{$media}mar-1 {
    margin: $size * 5px;
  }
  .#{$media}mar-2 {
    margin: $size * 10px;
  }
  .#{$media}mar-3 {
    margin: $size * 15px;
  }
  .#{$media}mar-4 {
    margin: $size * 20px;
  }
  .#{$media}mar-5 {
    margin: $size * 25px;
  }
  .#{$media}mar-l1 {
    margin-left: $size * 5px;
  }
  .#{$media}mar-l2 {
    margin-left: $size * 10px;
  }
  .#{$media}mar-l3 {
    margin-left: $size * 15px;
  }
  .#{$media}mar-l4 {
    margin-left: $size * 20px;
  }
  .#{$media}mar-l5 {
    margin-left: $size * 25px;
  }
  .#{$media}mar-r1 {
    margin-right: $size * 5px;
  }
  .#{$media}mar-r2 {
    margin-right: $size * 10px;
  }
  .#{$media}mar-r3 {
    margin-right: $size * 15px;
  }
  .#{$media}mar-r4 {
    margin-right: $size * 20px;
  }
  .#{$media}mar-r5 {
    margin-right: $size * 25px;
  }
  .#{$media}mar-t1 {
    margin-top: $size * 5px;
  }
  .#{$media}mar-t2 {
    margin-top: $size * 10px;
  }
  .#{$media}mar-t3 {
    margin-top: $size * 15px;
  }
  .#{$media}mar-t4 {
    margin-top: $size * 20px;
  }
  .#{$media}mar-t5 {
    margin-top: $size * 25px;
  }
  .#{$media}mar-b1 {
    margin-bottom: $size * 5px;
  }
  .#{$media}mar-b2 {
    margin-bottom: $size * 10px;
  }
  .#{$media}mar-b3 {
    margin-bottom: $size * 15px;
  }
  .#{$media}mar-b4 {
    margin-bottom: $size * 20px;
  }
  .#{$media}mar-b5 {
    margin-bottom: $size * 25px;
  }

  // padding
  .#{$media}pad-1 {
    padding: $size * 5px;
  }
  .#{$media}pad-2 {
    padding: $size * 10px;
  }
  .#{$media}pad-3 {
    padding: $size * 15px;
  }
  .#{$media}pad-4 {
    padding: $size * 20px;
  }
  .#{$media}pad-5 {
    padding: $size * 25px;
  }
  .#{$media}pad-l1 {
    padding-left: $size * 5px;
  }
  .#{$media}pad-l2 {
    padding-left: $size * 10px;
  }
  .#{$media}pad-l3 {
    padding-left: $size * 15px;
  }
  .#{$media}pad-l4 {
    padding-left: $size * 20px;
  }
  .#{$media}pad-l5 {
    padding-left: $size * 25px;
  }
  .#{$media}pad-r1 {
    padding-right: $size * 5px;
  }
  .#{$media}pad-r2 {
    padding-right: $size * 10px;
  }
  .#{$media}pad-r3 {
    padding-right: $size * 15px;
  }
  .#{$media}pad-r4 {
    padding-right: $size * 20px;
  }
  .#{$media}pad-r5 {
    padding-right: $size * 25px;
  }
  .#{$media}pad-t1 {
    padding-top: $size * 5px;
  }
  .#{$media}pad-t2 {
    padding-top: $size * 10px;
  }
  .#{$media}pad-t3 {
    padding-top: $size * 15px;
  }
  .#{$media}pad-t4 {
    padding-top: $size * 20px;
  }
  .#{$media}pad-t5 {
    padding-top: $size * 25px;
  }
  .#{$media}pad-b1 {
    padding-bottom: $size * 5px;
  }
  .#{$media}pad-b2 {
    padding-bottom: $size * 10px;
  }
  .#{$media}pad-b3 {
    padding-bottom: $size * 15px;
  }
  .#{$media}pad-b4 {
    padding-bottom: $size * 20px;
  }
  .#{$media}pad-b5 {
    padding-bottom: $size * 25px;
  }
}
// @include tool-vars();

/* 文字布局样式 */
@mixin text-vars ($media: '') {
  .#{$media}text-left {
    text-align: left;
  }
  .#{$media}text-right {
    text-align: right;
  }
  .#{$media}text-center {
    text-align: center;
  }
  .#{$media}text-nowrap {
    white-space: nowrap;
  }
  .#{$media}text-style-cap {
    text-transform: capitalize;
  }
  .#{$media}text-style-lower {
    text-transform: lowercase;
  }
  .#{$media}text-style-upper {
    text-transform: uppercase;
  }
  .#{$media}line-height-1 {
    line-height: 1
  }
  .#{$media}line-height-0 {
    line-height: 0;
  }
}

@include text-vars();

/* color class */
.color-green {
  color: $--color-btn-green;
}
.color-red {
  color: $--color-btn-red;
}
.color-yellow {
  color: $--color-btn-yellow;
}
.color-blue {
  color: $--color-btn-blue;
}
.color-pink {
  color: $--color-btn-pink;
}

@media screen and (min-width: 769px) {
  @include layout-vars('md-');
  @include text-vars('md-');
  @include tool-vars('md-');
  @include tool-vars('', 2);
}
@media screen and (max-width: 768px) {
  @include layout-vars('sm-');
  @include text-vars('sm-');
  @include tool-vars('sm-', 1);
  @include tool-vars('', 1);
}
