
/* 样式函数 */

@mixin bg-size($size: cover, $position-x: 50%, $position-y: 30%, $repeat: no-repeat) {
  background-size: $size;
  background-position-x: $position-x;
  background-position-y: $position-y;
  background-repeat: $repeat;
}

/* dialog-ldb-detail mixin class */
@mixin dialog-theme($theme: 'light') {
  @if $theme == 'light' {
    background-color: #f4f4f4;
  }
  @if $theme == 'dark' {
    color: #E6E8EC;
    background-color: #101010;
  }
  @if $theme == 'gray' {
    color: #E6E8EC;
    background-color: #2b2b2b;
  }
  @if $theme == 'default' {
    color: #E6E8EC;
    background-color: $--default-bg-color;
  }
}

@mixin bg-img-class($url, $repeat: no-repeat, $size: cover, $position: 0 0) {
  background-image: url($url);
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}
