$--font-TTNormsRegular: "TTNormsRegular", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsMedium: "TTNormsMedium", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsBold: "TTNormsBold", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsBlack: "TTNormsBlack", Helvetica, Microsoft YaHei, sans-serif;


/* 颜色值 */

$--color-btn-yellow: #FAD054;
$--color-btn-green: #5AC9B6;
$--color-btn-blue: #4586FC;
$--color-btn-red: #E47172;
$--color-btn-purple: #887BF2;
$--color-btn-pink: #BD10E0;


// $--default-bg-color: #713cc4;
// $--default-bg-color: #6f53ff;
// $--default-bg-color: #4e47d3;
// $--default-bg-color: #6f53ff;
// $--default-bg-color: #875bb5;
$--default-bg-color: #6C53FF;
// $--header-bg-color: #8f44d1;
// $--header-bg-color: #edccfa;
$--map-blue-pink-color: #776AFF;


$--text-main-color: #373737;
$--text-secondary-color: #808080;
$--text-third-color: #bbb;
$--text-shallow-color: #ccc;

$--text-yellow-color: #FAD054;
$--text-green-color: #69D1C3;
// $--text-blue-color: #4E47D3;
// $--text-deep-blue-color: #4E47D3;
$--text-deep-blue-color: #2C00C2;
$--text-blue-color: #4586FC;
$--text-blue-purple-color: #7D72F0;
// $--text-red-color: #E47172;
// $--text-red-color: #F46AA0;
$--text-red-color: #EB8785;
// $--text-purple-color: rgb(32, 32, 32);
$--text-pink-color: #BD10E0;

$--main-color: #4586FC;
// $--main-color: #4E46D3;
$--secondary-color: #776AFF;

$--gradient-blue-color: #5961F9;
$--gradient-pink-color: #EE9AE5;

/* 背景颜色 */
$--header-bg-color: $--text-deep-blue-color;


/* skeletion 颜色值 */
$--skeletion-light: #eee;
$--skeletion-dark: #ddd;
$--skeletion-fill: #fff;
