/* font-family */
@font-face {
  font-family: 'TTNormsBlack';
  src: url('/static/fonts/TTNorms-Black.woff2') format('woff2'), /* Modern Browsers */
       url('/static/fonts/TTNorms-Black.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TTNormsBold';
  src: url('/static/fonts/TTNorms-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('/static/fonts/TTNorms-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TTNormsMedium';
  src: url('/static/fonts/TTNorms-Medium.woff2') format('woff2'), /* Modern Browsers */
       url('/static/fonts/TTNorms-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'TTNormsRegular';
  src: url('/static/fonts/TTNorms-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('/static/fonts/TTNorms-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

$--font-TTNormsRegular: "TTNormsRegular", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsMedium: "TTNormsMedium", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsBold: "TTNormsBold", Helvetica, Microsoft YaHei, sans-serif;
$--font-TTNormsBlack: "TTNormsBlack", Helvetica, Microsoft YaHei, sans-serif;
