/* 改变主题色变量 */
$--color-white: #fff !default;
$--color-primary: $--secondary-color !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// @import "~element-ui/packages/theme-chalk/src/index";
@import 'element-ui/lib/theme-chalk/display.css';


.el-dialog__wrapper {
  // position: fixed;
  // position: sticky;
  // position: absolute;
  // overflow: hidden;
  // @include viewport-unit('min-height', 100vh);
}
// 覆盖初始样式
.v-modal {
  // position: absolute;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  // @include viewport-unit('height', 100vh);
}

.lordless-autocomplete {
  &.hide-arrow {
    .popper__arrow {
      display: none;
    }
  }
  &.redius-bottom {
    .el-autocomplete-suggestion__wrap {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  li {
    line-height: inherit;
  }
}

// lordless-sort-options

.lordless-sort-options {
  margin-top: 10px;
  border: none;
  background-color: transparent;
  .el-select-dropdown__list {
    padding: 0;
  }
  .el-select-dropdown__item {
    font-size: 16px;
    color: #fff;
    background-color: #1A6AFF;
    border-radius: 5px;
    &:not(:first-of-type) {
      margin-top: 2px;
    }
    &.select, &.hover {
      background-color: #4586FC;
    }
  }
  .popper__arrow {
    display: none;
  }
}

// .el-autocomplete-suggestion li:hover
.el-autocomplete-suggestion {
  li {
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

.el-tabs__active-bar {
  background-color: $--text-deep-blue-color;
}

.el-tabs__content {
  position: static;
}

.el-autocomplete-suggestion__wrap {
  padding: 8px 0;
  max-height: 320px;
}
.el-popper[x-placement^="bottom"] {
  margin-top: 22px;
  // border-top: 23px solid transparent;
}
.el-scrollbar {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.el-tabs {
  &.mobile-quests-tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// el-notification
@media screen and (max-width: 768px) {
  .v-modal {
    opacity: 0.48;
    background-color: rgba(0, 0, 0, 1);
    pointer-events: none;
  }

  .el-notification {
    width: 230px;
    padding: 8px 12px;
  }
  .el-notification__closeBtn {
    top: 10px;
  }
}
