@mixin bg-size($size: cover, $position-x: 50%, $position-y: 30%, $repeat: no-repeat) {
  background-size: $size;
  background-position-x: $position-x;
  background-position-x: $position-y;
  background-repeat: $repeat;
}
